<!DOCTYPE html>
<!-- Password Reset Page -->
<html>
    <head>
        <title>WebCalendar - Forgot Password</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="loginPage">
        <h1>WebCalendar - Change Password</h1>

        <a href="{{ url_for('dashboard.dash') }}">Dashboard</a>
        <a href="{{ url_for('account.management') }}">Account</a>

        <form action="{{ url_for('account.changePassword') }}" method="post">
            <label for="oldpw">Old Password:</label>
            <input type="password" name="old" id="old" required><br>
            <label for="password">New Password:</label>
            <input type="password" name="new" id="new" required><br>
            <input type="submit" value="Reset">
        </form>
        <h1>{{ message }}</h1>
    </div>
    </body>
</html>