<!DOCTYPE html>
<html>
    <head>
        <title>WebCalendar - Forgot Password</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="loginPage"></div>
        <h1>WebCalendar Password Reset</h1>

        <a href="{{ url_for('account.login') }}">Login</a>
        <a href="{{ url_for('account.register') }}">Register</a>

        <form action="{{ url_for('account.passwordReset') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required><br>
            <label for="backup">Backup Passphrase:</label>
            <input type="password" name="backup" id="backup" required><br>
            <label for="password">New Password:</label>
            <input type="password" name="password" id="password" required><br>
            <input type="submit" value="Reset">
        </form>
        <h1>{{ message }}</h1>
    </div>
    </body>
</html>